@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.postPage {
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		max-width: $space-2 * 82;
		width: 100%;
		padding: 0 $space-4;
		margin-top: 6vh;

		.divider {
			width: 90%;
			margin: $space-7 auto;
		}
	}
}
