@import '../../../../assets/sass/breakpoints';
@import '../../../../assets/sass/variables';

label {
	font-size: $font-sm;
	margin-right: $space-2;
}

.formFieldContainer {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	margin: $space-1 0;

	@include xs {
		justify-content: flex-start;
	}

	input {
		min-height: $space-2 * 3.5;
		min-width: $space-2 * 26;
		border-radius: $space-1 * 1.5;
		border: 1px solid var(--color-primary-light);
		font-size: $font-sm;
		margin-top: $space-1 * 0.5;
		padding: $space-1 * 1.5 $space-2;
		color: var(--color-dark-gray);

		@include md {
			padding: $space-1 * 0.5 $space-1 * 1.5;
			min-height: $space-5;
		}

		@include xs {
			min-width: auto;
		}

		&:focus {
			outline: 0;
		}

		&::placeholder {
			font-size: $font-xs;
			margin-left: $space-2;
			transform: translate3d(0, -2px, 0);
			color: var(--color-gray);
			font-size: $font-sm;
		}
	}
}

.textareaContainer {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin: $space-1 0;

	textarea {
		min-height: $space-5;
		min-width: $space-2 * 26;
		min-height: $space-2 * 10;
		border-radius: $space-1 * 0.8;
		padding: $space-2;
		font-size: $font-md;
		margin-bottom: $space-1;
		border-color: rgb(200, 200, 200);
		resize: none;
		color: rgb(73, 73, 73);
		outline: none;
		font-size: $font-sm;

		&::placeholder {
			font-size: $font-sm;
		}
	}
}
