@import '../../../../assets/sass/breakpoints';

.tableHeaderRow {
	td {
		background-color: var(--color-primary-transparent);

		@include sm {
			font-size: 1.5rem;
		}
		@include xs {
			font-size: 1.25rem;
		}
	}

	td:last-child {
		background-color: transparent;
	}
}
