@import '../../../../assets/sass/breakpoints';

.FormCardNoteContainer {
	display: flex;
	font-weight: 500;

	@include sm {
		font-size: 1.25rem;
	}

	@include xs {
		font-size: 1.1rem;
	}

	a {
		color: var(--color-primary);
		text-decoration: none;
		margin-left: 0.5rem;
	}
}
