@import '../../../../assets/sass/breakpoints';
@import '../../../../assets/sass/mixins';

.addexperienceform-container {
	&__editItem,
	&__date-fields {
		@include tableCell;
		border: 1px solid var(--color-light-gray);
		font-weight: 300;
		font-size: 1.5rem;
		border-color: var(--color-primary-light);
		height: fit-content;
		margin-bottom: 1rem;

		&::placeholder {
			text-align: center;
		}

		&:focus {
			outline: none;
		}

		@include sm {
			@include tableCell(0.5rem 1rem);
		}

		@include custom(500) {
			font-size: 1.15rem;
		}
	}

	&__btn {
		@include tableCell(0);
		justify-content: flex-start;
	}

	&__date-fields {
		@include tableCell(0);
		justify-content: space-between;
		min-height: 5rem;
		&__field {
			display: flex;
			min-width: 48%;
			height: 100%;
		}
	}
}
