@import '../../../assets/sass/breakpoints';
@import '../../../assets/sass/variables';

.heroContainer {
	position: absolute;
	right: 4vw;
	top: 0;
	width: 42%;

	.singlePostImg {
		position: absolute;
		width: 15%;
		top: 26%;
		margin-left: -$space-2;
		z-index: 2;
		animation: hover-post-lg 0.8s ease-in-out infinite alternate;

		@include sm {
			animation: hover-post-sm 0.8s ease-in-out infinite alternate;
			margin-left: -$space-2 * 0.8;
		}
	}

	.heroImg {
		width: 100%;
		right: 0;
		z-index: -1;
	}

	@include xl {
		right: 0;
		width: 47%;
		margin-top: 0;
	}

	@include lg {
		position: static;
		position: relative;
		width: 60%;
		margin-top: 4vh;
	}

	@include md {
		width: 80%;
		margin-top: 6vh;
	}

	@include sm {
		width: 85%;
	}
}

@keyframes hover-post-lg {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-$space-2 * 1.2);
	}
}

@keyframes hover-post-sm {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-$space-2 * 0.8);
	}
}
