.snackbar-container {
	padding: 0.75rem 4rem;
	position: absolute;
	bottom: 8vh;
	left: -40vw;
	font-size: 1.75rem;
	border-radius: 0.25rem;
	opacity: 0.9;
	animation: slide 0.5s forwards;

	&__normal {
		background-color: var(--color-primary);
		@extend .snackbar-container;
	}
	&__success {
		background-color: var(--color-success);
		color: white;
		@extend .snackbar-container;
	}
	&__danger {
		background-color: var(--color-danger);
		@extend .snackbar-container;
	}
}

@keyframes slide {
	100% {
		left: 2vw;
	}
}
