@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';

.usersPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 4rem;

	.title {
		@include titleUnderline;
	}
}
