@import '../../../../assets/sass/variables';
@import '../../../../assets/sass/mixins';

.iconButtonWhiteContainer {
	@include btn(#fff);
	padding: $space-1 $space-3;
	color: #fff;

	.icon {
		margin-right: $space-3;
		height: $space-5;
	}
}

#filled {
	background-color: #fff;
	color: var(--color-primary);
}
