@import '../../../../assets/sass/variables';
@import '../../../../assets/sass//mixins';

.buttonDangerContainer {
	@include btn(var(--color-danger));
	color: var(--color-danger);
}

#filled {
	background-color: var(--color-danger);
	color: #fff;
}
