@import '../../../../assets/sass/breakpoints';

$width: 3.5rem;
$height: 0.4rem;
$background: var(--color-primary);

#burgerContainer {
	position: absolute;
	right: 3em;
	top: 4rem;
	padding: 12px 0;
	display: none;
	z-index: 3;
	cursor: pointer;

	@include sm {
		display: inline-block;
	}

	span {
		position: relative;
		display: block;
		width: $width;
		height: $height;
		background: $background;
		transition: all 0.2s ease-in-out;

		&:before,
		&:after {
			content: '';
			position: absolute;
			background: $background;
			width: $width;
			height: $height;
			transition: all 0.2s ease-in-out;
		}

		&:before {
			top: -1rem;
		}

		&:after {
			top: 1rem;
		}
	}

	&.active {
		position: fixed;

		span {
			background: transparent;

			&:before {
				transform: rotate(45deg) translate(8px, 6px);
				background: #fff;
			}

			&:after {
				transform: rotate(-45deg) translate(8px, -6px);
				background: #fff;
			}
		}
	}
}
