@import '../../assets/sass/breakpoints';

.home-page {
	position: relative;
	width: 100vw;

	&__clip {
		position: absolute;
		height: 100vh;
		width: 45vw;
		z-index: -1;
		background-color: var(--color-primary);
		right: 0;
		clip-path: polygon(4% 0, 100% 0, 100% 100%, 16% 100%, 0 63%, 23% 33%);
		@include lg {
			clip-path: polygon(0 75%, 100% 61%, 100% 100%, 0% 100%);
			width: 100vw;
		}
	}
	&__container {
		padding: 2rem 6rem;
		height: 100vh;

		@include xl {
			padding: 1rem 3rem;
		}

		&__nav {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			max-width: 170rem;
			margin: 0 auto;
			@include lg {
				.btn--white {
					border-color: var(--color-primary);
					color: black;
				}
			}
		}

		&__content {
			position: relative;
			max-width: 170rem;
			margin: 0 auto;
			margin-top: 14vh;

			@include lg {
				text-align: center;
				margin-top: 11vh;
			}

			@include md {
			}

			img {
				position: absolute;
				right: 4vw;
				top: 0;
				width: 43%;
				margin-top: -2rem;
				@include xl {
					right: 0;
					width: 47%;
					margin-top: 0;
				}
				@include lg {
					position: static;
					width: 60%;
					margin-top: 4vh;
				}
				@include md {
					width: 80%;
					margin-top: 6vh;
				}
				@include sm {
					width: 85%;
				}
			}
			&__header {
				h1,
				h2 {
					font-size: 4rem;
					@include lg {
						font-size: 3.5rem;
					}
					@include md {
						font-size: 2.85rem;
					}
					@include custom(400) {
						font-size: 2.65rem;
					}
					@include xs {
						font-size: 2.15rem;
					}
				}
			}

			h2 {
				font-weight: 300;
			}

			&__btns {
				max-width: 23rem;
				display: flex;
				justify-content: space-between;
				margin-top: 3rem;

				@include lg {
					margin: 2rem auto;
				}

				@include md {
					justify-content: center;
				}
			}
		}
	}
}
