@import '../../../assets/sass/breakpoints';
@import '../../../assets/sass/mixins';

.profileTable {
	width: $space-7 * 21;
	max-width: $space-7 * 21;
	font-size: $font-sm;
	margin-bottom: $space-5 * 2;
	text-align: center;
	border-spacing: $space-2;
	border-collapse: separate;
	table-layout: fixed;

	@include sm {
		width: 100%;
	}

	td {
		height: $space-5 * 2;
		word-wrap: break-word;

		@include sm {
			height: $space-6;
		}
	}
}
