@import '../../../assets/sass/breakpoints';
@import '../../../assets/sass/mixins';

.postcardContainer {
	@include wideCard;

	@include md {
		justify-content: flex-start;
		align-items: center;
		padding: 2rem;
	}

	.imgNameContainer {
		margin-right: 5rem;

		@include md {
			margin-right: 3rem;
		}

		.img {
			height: 9rem;

			@include md {
				height: 7rem;
			}
		}

		.name {
			text-align: center;
			font-size: 2.25rem;

			@include md {
				font-size: 1.75rem;
			}
		}
	}

	.bodyContainer {
		display: flex;
		flex-direction: column;
		width: 100%;

		.postText {
			font-size: 1.4rem;
			border-bottom: 1px solid rgb(206, 206, 206);
			padding-bottom: 1rem;

			@include xs {
				font-size: 1.1rem;
			}
		}

		.date {
			margin: 0.25rem 0 2rem 0;
			color: rgb(100, 100, 100);
			font-size: 1.15rem;
		}

		.btnsContainer {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: fit-content;

			// .likeBtn {
			// 	height: fit-content;
			// 	margin-right: 1.75rem;
			// 	cursor: pointer;

			// 	@include xs {
			// 		margin-top: 1rem;
			// 	}

			// 	img {
			// 		@include md {
			// 			height: 2.5rem;
			// 		}
			// 	}
			// }

			.regularBtnsContainer {
				display: flex;

				button {
					margin-right: 1rem;

					@include sm {
						font-size: 1.25rem;

						span {
							display: none;
						}

						img {
							margin: 0;
						}
					}
				}
			}
		}
	}
}
