@import './breakpoints';
@import './variables';

@mixin btn($color, $size: 1) {
	display: flex;
	align-items: center;
	width: fit-content;
	height: fit-content;
	background-color: transparent;
	border: 1px solid $color;
	font-weight: 300;
	font-size: $space-5 * $size;
	padding: $space-1 * $size $space-3 * $size;
	border-radius: $space-1;
	cursor: pointer;

	&#filled {
		background-color: $color;
		color: #fff;
	}

	&-large {
	}
}

@mixin titleUnderline {
	position: relative;
	margin: 3rem 0;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 4rem;
		background-color: var(--color-primary);
	}
}

@mixin wideCard {
	display: flex;
	max-width: 80rem;
	width: 100%;
	margin-bottom: 3rem;
	padding: 3rem 5rem;
	border-radius: 1.25rem;
	box-shadow: var(--shadow-light);
	align-items: center;

	@include sm {
		padding: 1rem 3rem;
	}
}

@mixin tableEditRow {
	td {
		padding: 0;
	}

	input {
		height: 100%;
		width: 100%;
		outline: none;
		font-size: 1.5rem;
		text-align: center;

		&::placeholder {
			text-align: center;
			font-size: 1.25rem;
		}

		&:focus {
			border: 1px solid var(--color-primary);
		}
	}
}
