@import './variables';

h1 {
	font-weight: 500;
	font-size: $font-xl;
}

h2 {
	font-weight: 500;
	font-size: $font-lg;
}

h3 {
	font-weight: 300;
	font-size: $font-md;
}

p {
	font-weight: 300;
	font-size: $font-sm;
	margin: 0;
}
