$base-unit: 0.5rem;

$space-1: $base-unit * 1;
$space-2: $base-unit * 1.5;
$space-3: $base-unit * 2;
$space-4: $base-unit * 2.5;
$space-5: $base-unit * 3;
$space-6: $base-unit * 3.5;
$space-7: $base-unit * 4;
$space-8: $base-unit * 5;
$space-9: $base-unit * 6;
