@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';
// @TODO maybe an absolute path here as well?
.feed-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include titleUnderline;
	}
	&__content {
		max-width: 82rem;
		width: 100%;
		padding: 0 2rem;

		&__action-container {
			margin-top: 3rem;

			&__title {
				font-weight: 500;
				color: rgb(95, 95, 95);
				margin-bottom: 0.5rem;
			}
			&__textArea {
				width: 100%;
				min-height: 10rem;
				border-radius: 0.4rem;
				padding: 1rem;
				font-size: 1.75rem;
				margin-bottom: 0.5rem;
				border-color: rgb(200, 200, 200);
				resize: none;
				color: rgb(73, 73, 73);
				&::placeholder {
					font-size: 1.5rem;
					color: rgb(179, 179, 179);
				}

				&:focus {
					outline: none;
				}
			}
		}

		&__posts-container {
			margin: 8rem 0;
		}
	}
}
