.spinnerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 45vh;
	left: 50vw;
	margin: -4rem 0 0 -4rem;
	min-width: 8rem;
	min-height: 8rem;

	p {
		margin-top: 1rem;
		font-size: 2rem;
	}
	.spinner {
		animation: rotate 2s linear infinite;
		z-index: 2;

		& .path {
			stroke: var(--color-primary);
			stroke-linecap: round;
			animation: dash 1.5s ease-in-out infinite;
		}
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
