@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';

.postcard-container {
	@include wideCard;

	@include md {
		justify-content: flex-start;
		align-items: flex-start;
		padding: 3rem 2rem;
	}

	&__img-name {
		margin-right: 5rem;

		@include md {
			margin-right: 2rem;
		}

		&__cropper {
			@include circleImg(11rem);
		}

		&__name {
			text-align: center;
			font-size: 2.25rem;

			@include md {
				font-size: 1.75rem;
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;

		&__text {
			font-size: 1.4rem;
			border-bottom: 1px solid rgb(206, 206, 206);
			padding-bottom: 1rem;

			@include xs {
				font-size: 1.1rem;
			}
		}

		&__date {
			margin: 0.25rem 0 2rem 0;
			color: rgb(100, 100, 100);
			font-size: 1.15rem;
		}

		&__btns-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&__btns {
				display: flex;

				@include md {
					.btn {
						margin-bottom: 0.75rem;
					}
				}
			}

			&__like {
				height: fit-content;
				margin-right: 2.5rem;
				cursor: pointer;

				img {
					@include md {
						height: 2.5rem;
					}
				}
			}
		}
	}
}
