@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';

.profile-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include titleUnderline;
	}

	&__content {
		width: 100%;
		padding: 0 10vw;
		margin: 8rem;

		@include lg {
			padding: 0 6vw;
		}
		@include md {
			padding: 0 4vw;
			margin: 8vh;
		}

		&__table {
			display: flex;
			flex-direction: column;
			max-width: 80rem;
			margin-left: 0;
			margin-bottom: 5rem;

			&__title-container {
				display: flex;
				align-items: center;
				margin-bottom: 3rem;
				h2 {
					@include custom(500) {
						font-size: 2.5rem;
					}
				}

				&__btn {
					margin-left: 1rem;
				}
			}

			&__header-row {
				display: flex;
				justify-content: space-between;
				margin-bottom: 1rem;

				&__item {
					@include tableCell;
					background-color: var(--color-primary-transparent);
					font-weight: 500;
					@include sm {
						@include tableCell(0.5rem 1rem);
					}
					@include custom(500) {
						font-size: 1.25rem;
					}

					&:last-child {
						background-color: transparent;
						justify-content: flex-start;
					}
				}
			}

			&__info-row {
				display: flex;
				justify-content: space-between;
				margin-bottom: 1rem;

				&__item {
					@include tableCell;
					border: 1px solid var(--color-light-gray);
					font-size: 1.3rem;
					font-weight: 300;

					@include sm {
						@include tableCell(0.5rem 1rem);
					}

					@include custom(500) {
						font-size: 1.15rem;
					}
				}

				&__btn {
					@include tableCell(0);
					justify-content: flex-start;
				}
			}
		}
	}
}
