@import '../../../assets/sass/breakpoints';
@import '../../../assets/sass/mixins';

.listItems-container {
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;

	@include sm {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		flex-direction: column;
		height: 0;
		width: 100vw;
		background-color: var(--color-primary);
		z-index: 2;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;

		&#active {
			height: 100vh;
			opacity: 1;
			pointer-events: all;
		}
	}

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include sm {
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: 70%;

			.icon-button-container {
				color: white;
				font-size: 2.5rem;
				border-color: white;
			}

			.icon-button-white-container {
				@include btn(#fff, 1.4);
			}
		}

		li {
			display: flex;
			align-items: center;
			margin-left: 2rem;
			cursor: pointer;

			span {
				font-size: 1.75rem;
				color: var(--color-primary);
				cursor: pointer;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 2px;
					background-color: var(--color-primary);
					transition: 0.2s width;
				}

				&:hover {
					&::after {
						width: 100%;
					}
				}

				@include sm {
					color: white;
					font-size: 2.5rem;
					margin-left: 0;
				}
			}

			img {
				height: 1.5rem;
				margin-right: 0.6rem;

				@include sm {
					margin-right: 1rem;
					height: 2.5rem;
					margin-bottom: -0.2rem;
				}
			}

			.icon-button-container {
				margin: 0;
			}
		}
	}
}
