.tableData {
	padding: 0;

	input {
		height: 100%;
		width: 100%;
		outline: none;
		font-size: 1.5rem;
		text-align: center;

		&::placeholder {
			text-align: center;
			font-size: 1.25rem;
		}

		&:focus {
			border: 1px solid var(--color-primary);
		}
	}
}
