@import '../../assets/sass/breakpoints';
.disclaimer-container {
	display: flex;
	align-items: center;
	background-color: var(--color-danger);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-danger);
	width: fit-content;
	border-radius: 0.2rem;

	img {
		height: 2.5rem;
		margin-right: 1rem;

		@include sm {
			display: none;
		}
	}
	p {
		font-size: 1.5rem;
		color: white;
		font-weight: 500;

		@include sm {
			font-size: 1.25rem;
		}
		@include xs {
			font-size: 1rem;
		}
	}
}
