@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';

.usercard-container {
	display: flex;
	max-width: 80rem;
	width: 100%;
	margin-bottom: 3rem;
	padding: 3rem 5rem;
	border-radius: 1.25rem;
	box-shadow: var(--shadow-light);
	align-items: center;

	@include md {
		padding: 1.5rem 2.5rem;
	}

	@include custom(400) {
		padding: 1rem 2rem;
	}

	&__img-cropper {
		@include circleImg;
		margin-right: 2rem;
		@include custom(400) {
			min-width: 8rem;
			max-width: 8rem;
			height: 8rem;
		}
	}

	&__user-info {
		&__name {
			font-size: 3rem;
			@include md {
				font-size: 2.5rem;
			}
			@include sm {
				font-size: 2rem;
			}
		}

		&__title,
		&__location {
			font-size: 1.55rem;
			@include sm {
				font-size: 1.25rem;
			}
		}
		.btn--highlight {
			margin-top: 1rem;
		}
	}

	&__skills {
		margin-left: auto;
		font-size: 1.75rem;
		color: rgb(68, 68, 68);
		font-weight: 300;
		@include custom(359) {
			display: none;
		}

		@include sm {
			font-size: 1.25rem;
		}

		&__skill {
			display: flex;
			align-items: center;

			span {
				color: var(--color-primary);
				font-size: 1rem;
				margin: 0.4rem 0.5rem 0 0;
				font-weight: 500;
			}
		}
	}
}
