@import '../../../assets/sass/breakpoints';
@import '../../../assets/sass/variables';

.formcardContainer {
	display: flex;
	flex-direction: column;
	padding: $space-6 $space-7;
	border: 1px solid var(--color-primary-light);
	border-radius: $space-2 * 1.25;
	box-shadow: var(--shadow-light);
	margin: 0 $space-2;
	margin-top: 3vh;

	@include sm {
		padding: $space-4 $space-6 $space-4 $space-6;
		margin-top: 6vh;
		max-width: 88vw;
	}

	.title {
		text-align: center;
		font-size: $font-xl;

		@include xs {
			font-size: $font-lg;
		}
	}

	.inputFieldsContainer {
		margin-top: $space-4;

		@include md {
			margin: $space-3 0;
		}
	}

	.errorMsg {
		font-size: $font-xs * 1.3;
		color: var(--color-danger);
		margin-bottom: $space-4;
	}

	.btnContainer {
		display: flex;
		align-items: center;
		margin: $space-2 0;

		button {
			margin-right: $space-2;
		}
	}
}
