@import '../../../../assets/sass/breakpoints';
@import '../../../../assets/sass/variables';

.logoContainer {
	display: flex;
	flex-direction: column;
	width: auto;
	align-items: center;
	margin-right: $space-2;
	padding: $space-2 0;

	img {
		height: $space-7 * 1.2;
	}

	p {
		font-size: $font-sm * 0.9;
		white-space: nowrap;
	}
}
