@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';

.homePage {
	position: relative;
	width: 100vw;

	.section {
		padding: 2rem 6rem;
		height: 100vh;

		@include xl {
			padding: 1rem 3rem;
		}

		.starterNav {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			max-width: 170rem;
			margin: 0 auto;

			button {
				@include btn(#fff, 1.4);
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			position: relative;
			max-width: 170rem;
			margin: 0 auto;
			margin-top: 14vh;

			@include lg {
				align-items: center;
				text-align: center;
				margin-top: 11vh;
			}

			.header {
				h1,
				h2 {
					font-size: 4rem;

					@include lg {
						font-size: 3.5rem;
					}
					@include md {
						font-size: 2.85rem;
					}
					@include custom(400) {
						font-size: 2.65rem;
					}
					@include xs {
						font-size: 2.15rem;
					}
				}
			}

			h2 {
				font-weight: 300;
			}

			.btnsContainer {
				display: flex;
				align-items: center;
				margin-top: 3rem;
				flex-wrap: wrap;

				button {
					margin-right: 1rem;
					font-size: 1.75rem;
				}

				@include lg {
					justify-content: center;
				}

				@include md {
					justify-content: center;
				}
			}
		}
	}
}
