@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';

.commentCard-container {
	@include wideCard;
	padding: 2rem 3rem;
	align-items: flex-start;

	@include md {
		justify-content: flex-start;
		align-items: flex-start;
		padding: 2rem;
	}

	&__img-name {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 5rem;

		@include md {
			margin-right: 2rem;
		}

		&__cropper {
			@include circleImg(7rem);
		}

		&__name {
			text-align: center;
			font-size: 1.75rem;

			@include md {
				font-size: 1.5rem;
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;

		&__text {
			font-size: 1.4rem;

			@include md {
				font-size: 1.5rem;
			}
			@include xs {
				font-size: 1.1rem;
			}
		}

		&__date {
			margin-top: 0.5rem;
			color: rgb(100, 100, 100);
			font-size: 1.15rem;
		}

		&__btns-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;

			@include sm {
				margin-top: 1rem;
			}

			&__btns {
				display: flex;
			}
		}
	}
}
