@import './breakpoints';

@mixin circleImg($size: 14rem) {
	min-width: $size;
	max-width: $size;
	height: $size;
	position: relative;
	overflow: hidden;
	border-radius: 50%;

	@if $size >= 8 {
		@include md {
			min-width: $size - 3;
			max-width: $size - 3;
			height: $size - 3;
		}

		@include sm {
			min-width: $size - 4;
			max-width: $size - 4;
			height: $size - 4;
		}
	} @else {
		@include sm {
			min-width: $size - 1;
			max-width: $size - 1;
			height: $size - 1;
		}
	}

	img {
		display: inline;
		margin: 0 auto;
		margin-top: -25%;
		width: 100%;
	}
}

@mixin titleUnderline {
	position: relative;
	margin: 3rem 0;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 4rem;
		background-color: var(--color-primary);
	}
}
@mixin tableCell($pad: 1.5rem) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24%;
	padding: $pad;
}
@mixin wideCard {
	display: flex;
	max-width: 80rem;
	width: 100%;
	margin-bottom: 3rem;
	padding: 3rem 5rem;
	border-radius: 1.25rem;
	box-shadow: var(--shadow-light);
	align-items: center;
}
