@import '../../assets/sass/breakpoints';
@import '../../assets/sass/mixins';

.profile-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include titleUnderline;
	}

	&__content {
		width: 100%;
		padding: 0 10vw;
		margin: 8rem 0;

		@include lg {
			padding: 0 6vw;
		}

		@include md {
			padding: 0 4vw;
			margin: 8vh 0;
		}

		&__form-title {
			font-weight: 300;
			margin-bottom: 1.75rem;
			position: relative;
			width: fit-content;

			@include md {
				font-size: 2rem;
			}
		}

		&__table {
			display: flex;
			flex-direction: column;
			max-width: 90rem;
			margin: 6rem 0;

			&__title-container {
				display: flex;
				align-items: center;
				margin-bottom: 1.75rem;

				h2 {
					font-weight: 300;

					@include custom(500) {
						font-size: 2.5rem;
					}
				}

				&__btn {
					margin-left: 1rem;
				}
			}

			&__header-row {
				display: flex;
				justify-content: space-between;
				margin-bottom: 1rem;
				margin-left: 5rem;

				@include lg {
					margin-left: 2rem;
				}
			}
		}

		& .icon-button-danger-container {
			margin-bottom: 1.5rem;
		}
	}
}
