@import '../../assets/sass/breakpoints';

.formcard-container {
	display: flex;
	flex-direction: column;
	padding: 3rem 5.75rem 4.5rem 5.75rem;
	border: 1px solid var(--color-primary-light);
	border-radius: 1.25rem;
	box-shadow: var(--shadow-light);
	margin: 0 1rem;
	margin-top: 3vh;

	@include sm {
		padding: 2rem 3.75rem 2.5rem 3.75rem;
		margin-top: 6vh;
		max-width: 88vw;
	}

	h1,
	div,
	p {
		width: 100%; // @TODO why is this needed? try to remove it and see if necessary.
	}

	&__error {
		font-size: 1.35rem;
		color: var(--color-danger);
		margin-bottom: 2.25rem;
	}

	&__title {
		text-align: center;
		font-size: 3.25rem;

		@include md {
			font-size: 3rem; // @TODO create variables for font sizes. e.g. font-large font-small font-xsmall.
		}

		@include xs {
			font-size: 2.5rem;
		}
	}

	&__input-fields {
		margin-top: 2.25rem;

		@include md {
			margin: 1.5rem 0;
		}

		&__field {
			display: flex;
			flex-direction: column;
			margin: 1.25rem 0;

			@include md {
				margin: 1rem 0;
			}

			input {
				min-height: 3.25rem;
				min-width: 22rem;
				border-radius: 0.75rem;
				border: 1px solid var(--color-primary-light);
				font-size: 1.5rem;
				margin-top: 0.25rem;
				padding: 0.75rem 1rem;
				color: rgb(54, 54, 54); // @TODO try to avoid colors without variables.

				@include md {
					padding: 0.25rem 0.75rem;
					min-height: 3rem;
				}

				@include sm {
					min-width: 100%;
				}

				&:focus {
					outline: 0;
				}

				&::placeholder {
					font-size: 1rem;
					margin-left: 1rem;
					transform: translate3d(0, -3px, 0);
					color: rgb(116, 116, 116);
				}
			}

			label {
				font-size: 1.25rem;
				margin-left: 0.5rem;
			}
		}
	}

	&__btn-container {
		display: flex;
		align-items: center;
		margin: 1rem 0;

		.button-container {
			margin-right: 1rem;
		}

		&__auto-login {
			font-size: 1.3rem;
			color: var(--color-primary);
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__note {
		display: flex;
		font-weight: 500;

		@include sm {
			font-size: 1.25rem;
		}

		@include xs {
			font-size: 1.1rem;
		}

		a {
			color: var(--color-primary);
			text-decoration: none;
			margin-left: 0.5rem;
		}
	}
}
